
body{
	font-family: sans-serif;
	margin: 0;
}

ul,h1{
	margin: 0;
	padding: 0;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.header{
	background-color: #555555;
	padding: 7.5px 100px;
}

.logoWrap{
	background-color: #ff8000;
	height: 35px;
	width: 140px;
	float: left;
}

.header ul{
	float: left;
	list-style: none;
	margin: 0;
	margin-left: 40px;
}

.header ul li{
	float: left;
}

.header ul li a{
	color: #aaaaaa;
	font-size: 18px;
	line-height: 35px;
	text-decoration: none;
	padding: 0 25px;
	font-weight: bold;
}

.clear{
	clear: both;
	float: none;
	width: 0;
	margin: 0;
}

.features .container .optionsContainer li.clear{
	clear: both;
	float: none;
	width: 0;
	margin: 0;
}


.banner{
	background-color: #71C4EA;
	height: 485px;
}

.features{
	padding-top: 64px;
	padding-bottom: 110px;
	text-align: center;
}

.features h1{
	text-align: center;
	color: #444444;
}

.optionsContainer{
	margin-top: 70px;
}

.optionsContainer ul{
	margin: auto;
}

.features ul{
	list-style: none;
}

.features ul li{
	text-align: center;
	float: left;
	margin-left: 37.5px;
	margin-right: 37.5px;
	width: 200px;
}

.features ul li p{
	color: #888888;
	font-size: 18px;
}

.preview{
	height: 140px;
	width: 140px;
	margin: auto;
	background-color: #efefef;
	border-radius: 70px;
	text-align: center;
}

.footer{
	text-align: center;
	background-color: #ECECEC;
}
.footer ul{
	list-style: none;
	text-align: center;
}

.footer ul li{
	display: inline-block;
}

.footer ul li a{
	color: #FF8000;
	font-size: 16px;
	line-height: 40px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}

.footer ul li a:hover{
	color: #444444;
}

.center{
	display: inline-block;
}

.footer ul li a.active {
	color: black;
}